body {
    background-image: url(container-image.jpg);
    background-size: cover;
}

#name2 {
    color: rgb(182, 239, 37);
    font-size: 35px;
}

.getname {
    color: white;
    margin-top: 5px;
}

.zero div p {
    font-size: 150px;
}

.words {
    color: bisque;
}

#tip {
    color: orange;
}

.container {
    color: white;
    border: bisque solid 5px;
    position: relative;
    top: 20vh;
    left: 15vw;
    width: 70%;
    text-align: center;
    border-radius: 5px;


}

.container div p {
    margin: 0;
}

.container div {
    justify-content: space-evenly;
    margin-bottom: 10px;
}


.box1 {
    margin-top: 3px;
    background-color: gray;
    width: 25%;
    padding: 3px;
    border: 2px solid silver;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    display: none;
}

h3 {
    text-align: center;
    font-size: 35px;
}

.zero {
    display: flex;
    justify-content: center;
    font-size: 30px;
}